/* styles.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url('img/Imagen\ de\ WhatsApp\ 2023-11-29\ a\ las\ 22.20.29_29e9c196.jpg');
    background-repeat: no-repeat;
}

#codigoQR {
    padding: 50px;
    padding-left: 40ch;
}


.Titulo{
    text-align: center;
    font-weight: 700;
    font-size: 4ch;
    color: chartreuse;
}